<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      /* Global styles */
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      h1 {
        text-align: center;
        margin-top: 20px;
      }

      /* Form styles */
      form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }

      label {
        margin-bottom: 10px;
      }

      input[type="email"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
      }

      button[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #4caf50;
        color: white;
        border: none;
        cursor: pointer;
      }

      button[type="submit"]:hover {
        background-color: #45a049;
      }

      /* Responsive styles */
      @media only screen and (max-width: 600px) {
        form {
          padding: 10px;
        }

        input[type="email"],
        input[type="password"] {
          margin-bottom: 15px;
        }
      }
    </style>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/user/login" method="POST">
      <label for="email">Email</label>
      <input
        type="email"
        required
        name="email"
        placeholder="example.gmail.com"
      />
      <label for="password">Password</label>
      <input
        type="password"
        required
        name="password"
        placeholder="Enter Password"
      />
      <a href="/signup">new user?</a>
      <button type="submit">Login</button>
    </form>
  </body>
</html>
